header{
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
  
}

header nav ul li{
    list-style: none;
    display: inline-flex;
    margin: 5px;
    padding: 1%;
}

.youtube-search-bar {
    height: 50px;
    width: 100%;
  }
  
  .search-input {
    flex-grow: 1;
  }
  
  mat-icon {
    color: #757575;
  }
  
  button {
    margin-left: 8px;
  }

  .matIcon{
    margin-top: 1px;
  }
  
  li{
    cursor: pointer;
  }

