<nav class="navbar navbar-expand-lg bg-light sticky-top " data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img [src]="logo" height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="youtube-search-bar">
              <mat-form-field class="search-input">
                <input matInput type="text" [(ngModel)]="searchQuery" (input)="onSearch()" (focusout)="closeDropdown()">
                <ul *ngIf=" searchResults.length > 0">
                  <li *ngFor="let result of searchResults"><a (click)="navigate(result.id)">{{ result.title }}</a></li>
                </ul>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
             
            </div>
          </li>
         
        </ul>
        <span class="navbar-text d-flex">
          <mat-icon class="matIcon">people </mat-icon>
         <a routerLink="/login">
         &nbsp;Sign in</a>
        </span>
      </div>
    </div>
  </nav>